doctype html
html
head
    meta(charset='UTF-8', name='viewport', content='width=device-width')
    title <%= projectname %>
    link(rel='stylesheet', media='screen', href!= cssPath)
    link(rel='icon', href='/assets/favicon.ico', type='image/x-icon')
body
    #main
    script(src!= bundlePath)
    input(type='hidden', name='_csrf', value!= csrf)
